.oracle {
    width: 200px;
}
.mysql{
    width: 200px;
}
.postgresql{
    width:200px;
}
.mongodb{
    width: 200px;
}
.firebase {
    width: 200px;
}
.dataTitle{
    color: white;
    font-size: 40px;
    margin-left:10%;
    margin-top: 5% !important;
    }