.navbar-default {
    background: none !important;
    color: white !important;
    background-image: linear-gradient(black, none) !important;
    border: none;
}

#navLogo {
    width: 5%;
}

.navtitle {
    color: white;
    font-size: 30px;
    font-family: 'Orbitron', sans-serif;
}

.navlink {
    color: white;
    font-size: 18px;
}

.navlogo {
    width: 3%;
}