body {
  background: black;
}

a {
  color: white;
  text-decoration: none;
}

#downArrowContainer {
  position: fixed;
  display: flex;
  width: 100vw;
  justify-content: center;
  z-index: 5000;
  height: 10vh;
  bottom: 0;
}

.bounce {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%, 30%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-50px);
  }
  60% {
    transform: translateY(-35px);
  }
}