@-webkit-keyframes chevron-pulse {
    0% {
      opacity: 0; }
    40% {
      opacity: 1; }
    80% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  
  @keyframes chevron-pulse {
    0% {
      opacity: 0; }
    40% {
      opacity: 1; }
    80% {
      opacity: 0; }
    100% {
      opacity: 0; } }
  
  .tcon-svgchevron {
    height: 40px;
    width: 40px; }
  
  .tcon-svgchevron path {
    -webkit-animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    animation: chevron-pulse 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
    stroke: black;
    stroke-width: 1px; }
  
  .tcon-svgchevron path.a1 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
  
  .tcon-svgchevron path.a2 {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  
  .tcon-svgchevron path.a3 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  