.android {
    width:100px;
    margin-top: 8%;
}
.ios{
    width: 100px;
    margin-top: 8%;
}
.reactnative {
    width: 200px;
    margin-top: 23%;
    margin-left: -27%;
}
.java {
    width: 125px;
    margin-top: 10%;
    margin-left: -10%;
}
.swift{
    width: 100px;
    margin-top: 10%;
    margin-left: -10%;
}
.mobTitle{
    color: white;
    font-size: 40px;
    margin-left:10%;
    margin-top: 5% !important;
    }
    .mobSub {
        color:white;
        font-size: 20px;
        margin-top: 5%;
        }