.unselectable {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */
    pointer-events: none;
}

#section1 {
    background-image: url("img/slide-1-touch-pad-2.jpg");
    background-size: cover;
    background-position: center 80%;
}

#section2 {
    background-image: url("img/slide-2-brainlowered.jpg");
    background-size: cover;
    background-position: center 0%;
}

#section3 {
    background-image: url("img/slide-3-laptop.jpg");
    background-size: cover;
    background-position: center 80%;
}

body {
    background-color: black;
}