.about {
    display: block;
    white-space: pre-wrap;
}

.aboutTitle {
    font-size: 55px;
    font-family: Arial, Helvetica, sans-serif;
}

.aboutBody {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

.slogan {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 5%;
}