.node{
    width: 100px;
}
.php {
    width: 70px;
    margin-top: 7%;
    margin-left:-45%;
}

.react{
    width: 125px;

}
.python{
    width: 175px;
    margin-top: -10%;
    margin-left:-120%;
    
}
.goWeb{
    width: 100px;
    margin-left:-150%;
    margin-top: 2%;
}
.webTitle{
color: white;
font-size: 40px;
margin-left:10%;
margin-top: 5% !important;
}
.webSub {
color:white;
font-size: 20px;
margin-left:10%;
}