.mobileApp {
    display: block;
    white-space: pre-wrap;
    color: white;
    margin-left: 5%;
}

.mobileTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    margin-top: 10%;
    margin-left: 2%;
}

.mobileBody {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}